<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>Tableaux de bord</title>

    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="controller/routes.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
</head>

<body ng-controller="dashboardCtrl as dashboard">

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des boards
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="animate-repeat" ng-repeat="board in boards">
        <a ng-click="listAgentsBy(board)">{{board}}</a>
    </li>
  </ul>
</div>

<div class="dropdown"  ng-show="showAgent">
  <button  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des agents
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="animate-repeat" ng-repeat="agent in agents">
         <a ng-click="listValuesAgent(agent)">{{agent}}</a>
    </li>
  </ul>
</div>


<div class="row" ng-show="valueExist">

       Vous êtes sur l'arduino "{{currentBoard}}" et sur l'agent "{{currentAgent}}"
    <div class="col-md-4" ng-repeat="value in valuesAgent">
        {{value.mode}}
    </div>
</div>

<div class="row" ng-show="valueExist">
    <div class="col-md-4">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" >
        </canvas>
    </div>


   <!-- <div class="dropdown" class="col-md-4">
      <button  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trier valeur par
        <span class="caret"></span>
      </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li class="animate-repeat">
                 <a ng-click="changeIntervalPeriod('jour')">jour</a>
                 <a ng-click="changeIntervalPeriod('semaine')">semaine</a>
                 <a ng-click="changeIntervalPeriod('mois')">mois</a>
            </li>
          </ul>
    </div> -->

</div>

</body>
</html>