<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>Tableaux de bord</title>

    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="controller/routes.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
</head>

<body ng-controller="dashboardCtrl as dashboard">

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des boards
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="animate-repeat" ng-repeat="board in boards">
        <a ng-click="listAgentsBy(board)">{{board}}</a>
    </li>
  </ul>
</div>

<div class="dropdown"  ng-show="showAgent">
  <button  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des agents
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="animate-repeat" ng-repeat="agent in agents">
         <a ng-click="listValuesAgent(agent)">{{agent}}</a>
    </li>
  </ul>
</div>

<div class="row" ng-show="valueExist">
    <div class="col-md-4" ng-repeat="values in agentValues">
        {{currentBoard}} et {{currentAgent}}
        {{values}}
    </div>
    <div class="col-md-4">
        test
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" >
        </canvas>
    </div>

    <div class="col-md-4">
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>
             <a ng-click="changeIntervalPeriod('jour')">par jour</a>
             <a ng-click="changeIntervalPeriod('semaine')">par semaine</a>
             <a ng-click="changeIntervalPeriod('mois')">par mois</a>
        </li>
      </ul>
    </div>
</div>

</body>
</html>